/*landing page*/
.landingContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.landingRoomNumber {
    margin-top: 5px;
    margin-bottom: 5px;
}

.landingUserName {
    margin-bottom: 10px;
}

/*chatting page*/
.chatContainer {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.videoContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.userSection {
    flex: 1;
    display: flex;
    border-top: solid gainsboro 2px;
    border-right: solid gainsboro 2px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.voiceCallIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: solid gainsboro 2px;
}

.videoCallIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: solid gainsboro 2px;
}

.videoSection {
    flex: 9;
    display: flex;
    border-right: solid gainsboro 2px;
    flex-direction: column;
}

.voiceSection {
    flex: 9;
    display: flex;
    border-right: solid gainsboro 2px;
    justify-content: center;
    align-items: center;
}

.activeUserVideo {
    display: flex;
    flex: 8;
    justify-content: center;
    align-items: center;
}

.activeMyVideo {
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: flex-end;
}

.messageContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.messageBox {
    flex: 9;
    display: flex;
    justify-content: center;
}

.inputBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid gainsboro 2px;
}

/*common*/
.toggleVisible {
    visibility: visible;
}

.toggleInVisible {
    visibility: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

.progressRing {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
