/*landing page*/
.landingContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.landingRoomNumber {
    margin-top: 5px;
    margin-bottom: 5px;
}

.landingUserName {
    margin-bottom: 10px;
}


/*common*/
.toggleVisible {
    visibility: visible;
}

.toggleInVisible {
    visibility: hidden;
}

.center {
    position: absolute;
}

.progressRing {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}